<% layout('layouts/boilerplate') -%>

<style>
  .list-group-item img {
    object-fit: cover;
    height: 300px; /* Adjust this value to set the desired height */
  }
</style>

<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-8 offset-2">
        <h3 class="mb-4">Listing Details</h3>
        <ul class="list-group mb-4">
          <li class="list-group-item p-0">
            <img src="<%= listing.image %>" alt="image_listing" class="img-fluid w-100">
          </li>
          <li class="list-group-item">
            <strong>Title:</strong> <%= listing.title %>
          </li>
          <li class="list-group-item">
            <strong>Description:</strong> <%= listing.description %>
          </li>
          <li class="list-group-item">
            <strong>Price:</strong> &#8377; <%= listing.price.toLocaleString("en-IN") %>
          </li>
          <li class="list-group-item">
            <strong>Location:</strong> <%= listing.location %>
          </li>
          <li class="list-group-item">
            <strong>Country:</strong> <%= listing.country %>
          </li>
        </ul>

        <div class="d-flex justify-content-between">
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit this Listing</a>
          <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-danger">Delete this listing</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
